@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        .mojdiv {
            width: initial;
            height: initial;
            background-color: lightpink;
            display: inline-block;
            position: relative;
            border: 5px solid gold;
        }

        body {
            background-color: gray;
        }

        p {
            /*position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);*/
        }

        a {
            color: black;
        }
    </style>
</head>
<body>
    <center>
        <div class="mojdiv">
            <table border="1">
                <tr>
                    <th>Proizvod</th>
                    <th>Adresa</th>
                    <th>Komentar</th>
                    <th>Cena</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @foreach (var item1 in item.novaPorudzbina.Proizvod)
                            {
                                <p>@item1.Proizvod.Ime x @item1.Kolicina</p>
                            }
                        </td>
                        <td>@item.novaPorudzbina.Adresa</td>
                        <td>@item.novaPorudzbina.Komentar</td>
                        <td>@item.novaPorudzbina.Cena</td>
                    </tr>
                }
            </table>
            <a href="~/Dostavljac/Dashboard">Nazad</a>
        </div>
    </center>
</body>